@font-face {
  font-family: "hussor-bold";
  src: url(./assets/fonts/HussarBold.ttf);
}
body {
  margin: 0;
  font-family: "hussor-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
